
html {
    overflow-y: scroll;
}

#wrapper {
	border: 3px solid #cccccc;
	margin-right: 15%;
	margin-left: 15%;
	background-image: url(Images/halftone.png);
	background-repeat: repeat;
	background-position: center top;
	box-shadow: -4px 0px 8px #000000,
				6px 0px 10px #000000;
}

h1 { 

  color: teal;
  font-family: "Linux Biolinum G", arial, sans-serif;
  font-size: 4em;
  margin-top: 0;
  margin-bottom: -.3em;
  padding-left: 1em;
  text-align: left;
}
 
h1 span {
  color: #818181;
  font-size: .6em;
}

#slogan {
	padding-left: 3em;
	font-size: 1.2em;
	font-family: "dejaVu Sans", arial, sans-serif;
	font-style: italic;
}

h2 {
  color: #818181;
  font-size: 20px;
  text-align: right;
  font-family: "DejaVu Sans", arial, sans-serif;
  padding: 10px 10px 10px 10px;
  border: 2px solid;
  border-radius: 10px;
  background-color: white;
  }


#navbar {
		text-align: center;
}

nav li{
	font-family: "Linux Biolinum G", arial, sans-serif;
	font-size:1.5em;
	color: #818181;
	width: 1660px;
	display: inline;
	list-style-type: none;
	padding-right: 100px;
	text-align: center;
}

#navbar a:link {
	font-family: "Linux Biolinum G", arial, sans-serif;
	font-size:1.5em;
	color: #818181;
	width: 1660px;
	text-decoration: none;
}

#navbar a:visited {
	font-family: "Linux Biolinum G", arial, sans-serif;
	font-size:1.5em;
	color: #818181;
	width: 1660px;
	text-decoration: none;
}

#navbar a:active {
	font-family: "Linux Biolinum G", arial, sans-serif;
	font-size:1.5em;
	color: #818181;
	width: 1660px;
	text-decoration: none;
	}

#navbar a:hover {
	font-family: "Linux Biolinum G", arial, sans-serif;
	font-size:1.5em;
	color: #ff6840;
	width: 1660px;
	text-decoration: none;
}

#pics {
	height: 404px;
	width: 804px;
	margin-right: 10em;
	margin-left: 10em;
	text-align: center;
	background-color: white;
	border: 3px solid #818181;
	padding: 4px 4px 4px 4px;
	}

#footer {
	color: #818181;
  font-size: 20px;
  text-align: center;
  font-family: "DejaVu Sans", arial, sans-serif;
}

#paragraph {
	border: 3px solid #cccccc;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	padding-right: 2%;
	padding-left: 2%;
	font-family: "Linux Biolinum G", arial, sans-serif;
	font-size:1.4em;
	background-color: white;
}

#paragraph ul {
	font-size: 1.2em;
}

.emphasis {
	font-family: "Linux Biolinum G", arial, sans-serif;
	font-size: 3em;
	color: #03899c;
}

.referance {border: 3px solid #cccccc;
			margin-left: 5%;
			margin-right: 5%;
			margin-top: 2%;
			padding-right: 2%;
			padding-left: 2%;
			font-family: "Linux Biolinum G", arial, sans-serif;
			font-size: 1.4em;
			background-color: white;
		}

.referance a {
	font-family: "Linux Biolinum G", arial, sans-serif;
	color: black;
	text-decoration: none;
	font-style: italic;
}

#wss {
	width: 800px;
	height: 466px;
	text-align: center;
	border: 3px solid #818181;
	background-color: white;
	margin-left: 10em;
	margin-right: 10em;
	padding: 4px 4px 4px 4px;
	opacity: 0;
	-webkit-transition:opacity 1.0s linear 0s;
	transition:opacity 1.0s linear 0s;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centre the page */
.body {
    display:block;
    margin:0 auto;
    width:576px;
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
	 -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

textarea {
	height:213px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
    width:127px;
    height:38px;
    background:url(Images/submit.jpg);
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

	#submit:hover {
	    opacity:.9;
	}



